@charset "utf-8";
/* CSS Document */
#casino{
	  position:fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Bahnschrift SemiBold", "Bahnschrift SemiBold Condensed", "Bahnschrift SemiBold SemiConden", "Bahnschrift SemiCondensed";
}

.info{
	padding: 22px 160px 22px 157.5px;
	background-color: #1B1616;
	color: ghostwhite;
	text-align: left;
	font-size: 20px;
	border: none;
	box-shadow:  8px 8px 15px rgb(0,0,0,0.3);
	position: fixed;
}
.container{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	position:absolute;
	justify-content: center;
}

.machine{
	background-color: #1B1616;
	color: crimson;
	padding: 44px;
	border: none;
	border-radius: 30px;
	box-shadow:  inset 8px 8px 15px rgb(0,0,0,0.3);
}

.slot {
  display: inline-block;
  width: 80px;
  height: 80px;
	background-color: ghostwhite;
  border: none;
  margin-right: 10px;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  box-shadow: inset 8px 8px 15px rgb(0,0,0,0.3);
	
}


.container button{
	outline: none;
	border: none;
	padding: .5rem 7rem 0 7rem;
	font-size: 15px;
	font-weight: 600;
	border-radius: 10px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: all .2s linear;
	margin-top: 30px;
}

.container button:hover{
	background-color: crimson;
	color: ghostwhite;
}