@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #6D1670;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: mediumpurple;
}



.container {
  border-radius: 5px;
  background-image: url("img/ly.jpg");
  padding: 10px;
  
}


.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
	text-align: left;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.gallery {
  margin: 5px;
  border: 0.5px solid #ccc;
  float: left;
  width: 200px;
  height:300px;
}

img {
  align-content: left ;
   }


.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


h1{
		font-family: Garamond;
		font-size: 15px;
		color: whitesmoke;
		text-align: center;
	  }
h2{
	font-family: Garamond, serif;
	font-size:30px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] 
{
    width: 100%;
    margin-top:0;
 }
}